aclocal.m4
autom4te.cache
compile
config.*
configure
configure.ac
depcomp
.deps
*.gmo
INSTALL
install-sh
intltool-*.in
*.la
.libs
libtool
*.lo
ltmain.sh
Makefile*
missing
panel-plugin/mailwatch.desktop
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
stamp-h1
